.contact-page {
  // background: white;
  color: whitek;
  padding: 5rem 8rem;
  min-height: 90vh;
  h2 {
    color: whitek;
  }
  @media (max-width: 560px) {
    padding: 3rem 2rem;
  }
  .contact-title {
    margin-bottom: 4rem;
    color: whitek;
  }
  .hide {
    overflow: hidden;
    .contact-section {
      display: flex;
      align-items: center;
      h2 {
        margin: 2rem;
        font-size: 2.5rem;
      }
    }
    .circle {
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      background: white;
    }
  }
}
