.skills-section {
  background: white;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  color: white;
  h2 {
    padding-bottom: 5rem;
    color: $black;
  }
  p {
    width: 70%;
    padding: 2rem 0rem 4rem 0rem;
  }
  @media (max-width: 768px) {
    display: block;
    justify-content: center;
  }
  .description {
    flex: 3;
    z-index: 2;
    h2 {
      font-weight: lighter;
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      // display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      @media (max-width: 560px) {
        grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
        justify-content: center;
      }
      .card {
        color: $black;
        padding: 1rem 3rem 2rem 0;
        &:hover {
          transform: scale(1.1);
          transition: all 0.5s;
        }
      }
    }
  }
  .image-container {
    margin-top: 10rem;
    flex: 1;
    z-index: 2;
    overflow: hidden;
    // background: yellow;
    img {
      // width: 100%;
      height: 40vh;
      object-fit: cover;
      @media (max-width: 560px) {
        height: 50vh;
      }
    }
  }
}
