$accent-color: #23d997;
$dark-accent-color: #1db37c;
$black: #111111;
$gray: #cecece;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  @media (max-width: 768px) {
    font-size: 55%;
    p {
      font-size: 180%;
    }
  }
  @media (max-width: 450px) {
    font-size: 40%;
    p {
      font-size: 180%;
    }
  }
}

body {
  overflow-x: hidden;
  background: $black;
  font-family: "Inter", sans-serif;
  color: white;
}
button {
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 1rem 2rem;
  // border: 3px solid $accent-color;
  border-style: none;
  // border-radius: 10px;
  color: $accent-color;
  background: white;
  transition: all 0.5s ease;
  &:hover {
    background: $accent-color;
    color: white;
  }
}
h2 {
  font-weight: lighter;
  font-size: 3.8rem;
}
h3 {
  color: white;
}
h4 {
  font-weight: bold;
  font-size: 2rem;
}
span {
  font-weight: bold;
  color: $dark-accent-color;
}
a {
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
  color: $gray;
  &:hover {
    color: $accent-color;
  }
}
p {
  padding: 3rem 0rem;
  color: $gray;
  font-size: 1.4rem;
  line-height: 150%;
}

.whatsapp {
  position: fixed;
  top: 90vh;
  right: 25px;
  // color ijo whatsapp asli -> hover jadi ijo muda
}

@import "./about";
@import "./contact";
@import "./journey";
@import "./nav";
@import "./skills";
@import "./wave";
@import "./projects";
